{% extends "base.html" %}
{% load static %}
{% block content %}
   <div>
		<!-- Nav-bar -->
		<div class="row body-bg justify-content-center p-0">
         <div class="container p-0 features-clean col-lg-4 p-0 m-5">
            <div class="intro">
				<h2 class="text-center">HOW WE OPERATE</h2>
            </div>
            <div class="row features">
                <div class="col-lg-12 item pl-5 m-0">
					<div class="row">
					<ion-icon name="ellipse" class="col-lg-2 m-0 p-0"></ion-icon>
                    <p class="description m-0 p-0 pr-4 col-lg-10">We connect first years students to upperclassmen for career advice.</p>
					</div>		
                </div>
                <div class="col-sm-6 col-lg-12 item pl-5 m-0">
					<div class="row">
					<ion-icon name="ellipse" class="col-lg-2 m-0 p-0"></ion-icon>
                    <p class="description m-0 p-0 pr-4 col-lg-10">We help ease and facilitate communications and meet ups by scheduling appointments between the pairs.</p>
					</div>		
                </div>
				<div class="col-lg-12 item pl-5 m-0">
					<div class="row">
					<ion-icon name="ellipse" class="col-lg-2 m-0 p-0"></ion-icon>
                    <p class="description m-0 p-0 pr-4 col-lg-10">We offer conversation guides.</p>
					</div>		
                </div>
            </div>
		</div>
			 <!-- Login -->
			<div class="login-clean col-lg-3 p-0 m-5">
					<form method="post">{% csrf_token %}
				    <h2 class="sr-only">Login Form</h2>
					<div class="illustration"><i class="icon ion-ios-navigate"></i></div>
					<div class="form-group"><input class="form-control" type="email" name="email" placeholder="BiCo Email"></div>
					<div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
					<div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a class="forgot" href="#">Forgot your email or password?</a>
			       </form>      
			</div>
		</div>		
	</div>	
  {% endblock %}
 