{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container pt-5">
		    <div class="form-group">
		<label for="exampleFormControlSelect1">How many upperclassmen would you like to meet</label>
		<select class="form-control" id="exampleFormControlSelect1">
		  <option>1</option>
		  <option>2</option>
		  <option>3</option>
		</select>
	  </div> 
	   <div class="row ml-1">
			  <legend class="col-form-label pt-0">What is your preferred mode of communication</legend>
			  <div class="col-sm-10">
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1">
				  <label class="form-check-label" for="gridRadios1">
					Zoom
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1">
				  <label class="form-check-label" for="gridRadios1">
					Google Meet
				  </label>
				</div>
				  <div class="form-check">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1">
				  <label class="form-check-label" for="gridRadios1">
				    Facetime
				  </label>
				</div>
				  <div class="form-check">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1">
				  <label class="form-check-label" for="gridRadios1">
				    Text
				  </label>
				</div>
		     </div>
	   </div>
		</div><div class="submit-btn text-center mt-5"><a href="{%url 'Thank_you'%}">Submit!</a></div>  
	    <div class="prev text-uppercase"><ion-icon name="arrow-back-outline"></ion-icon><a href="{%url 'Mentee' %}">Back</a></div>
	
	  </div>

 {% endblock %}