{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- ======= Mentor-fill-in Section ======= --> 
	<div class="container">  
  	 <p class="my-5 text-center">Thank you trusting us in pairing you up with an upperclassman, now that you have taken this step, help us identify which area you want to get helped, please fill in the form below.  </P> 
	     <form>
		  <div class="form-group row">
			<label for="username" class="col-sm-2 col-form-label">Full Name </label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="username" placeholder="Memory James">
			</div>
		  </div>
		  <div class="form-group row">
			<label for="number" class="col-sm-2 col-form-label">Phone Number</label>
			<div class="col-sm-10">
			  <input type="number" class="form-control" id="number" placeholder="564-345-9768">
			</div>
		  </div>
			 <div class="form-group row">
			<label for="college" class="col-sm-2 col-form-label">College</label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="college" placeholder="Haverford">
			</div>
		  </div>
		    <div class="form-group row">
			<label for="classyear" class="col-sm-2 col-form-label">Class Year</label>
			<div class="col-sm-10">
			  <input type="number" class="form-control" id="classyear" placeholder="2021">
			</div>
		  </div> 
		  <div class="form-group row">
			<label for="major" class="col-sm-2 col-form-label">Major and Minor</label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="major" placeholder="Physics and History">
			</div>
		  </div>
		  <fieldset class="form-group">
			<div class="row">
			  <legend class="col-form-label col-sm-2 pt-0">Which areas do you want help with?</legend>
			  <div class="col-sm-10">
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1">
				  <label class="form-check-label" for="gridRadios1">
					Choosing classes
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1">
				  <label class="form-check-label" for="gridRadios1">
					Internship Search
				  </label>
				</div>
				  <div class="form-check">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1">
				  <label class="form-check-label" for="gridRadios1">
					Resources for mastering Class concept
				  </label>
				</div>
				  <div class="form-check">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1">
				  <label class="form-check-label" for="gridRadios1">
				TriCo Life and Upenn partnership
				  </label>
				</div>
				  <div class="form-check">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1">
				  <label class="form-check-label" for="gridRadios1">
					Stress related to school work
				  </label>
				</div>
				  <div class="form-check">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1">
				  <label class="form-check-label" for="gridRadios1">
				  Resume/CV/Coverletter
				  </label>
				</div>
				  <div class="form-check">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios1" value="option1">
				  <label class="form-check-label" for="gridRadios1">
				 Reaching out to Professors
				  </label>
				</div>
				<div class="form-check">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios2" value="option2">
				  <label class="form-check-label" for="gridRadios2">
				Managing time and self care
				  </label>
				</div>
				<div class="form-check disabled">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3">
				  <label class="form-check-label" for="gridRadios3">
				Loneliness and difficulties to make friends
				  </label>
				</div>
				 <div class="form-check disabled">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3">
				  <label class="form-check-label" for="gridRadios3">
				Advice for international students
				  </label>
				</div>
				 <div class="form-check disabled">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3">
				  <label class="form-check-label" for="gridRadios3">
				Clubs and Activities 
				  </label>
				</div>
				  <div class="form-check disabled">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3">
				  <label class="form-check-label" for="gridRadios3">
				How to make the best of College life
				  </label>
				</div>
				  <div class="form-check disabled">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3">
				  <label class="form-check-label" for="gridRadios3">
				Studying Abroad
				  </label>
				</div>
				  <div class="form-check disabled">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3">
				  <label class="form-check-label" for="gridRadios3">
				Traditions 
				  </label>
				</div>
				  <div class="form-check disabled">
				  <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3" value="option3">
				  <label class="form-check-label" for="gridRadios3">
				Just want to hear upperclassman experiences and advices
				  </label>
				</div>
			  </div>
			</div>
		  </fieldset>
		</form>
<div class="next text-uppercase"><a href="{%url 'Mentee_continued'%}">Next</a></ion-icon></div>
	  </div>
 {% endblock %}